#lissajous-scope {
    margin-right: 4em;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    order: -1;
    background: #000;
    box-shadow: 0px 12px 30px #444;
}

.display {
    content: 'flex';
}

.description {
    width: 560px;
}

.input-number {
    width: 4em;
    text-align: right;
}

.description input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

a.action {
    border-color: transparent;
    border-style: solid;
    background: #f2f2f2;
    border-radius: 6px;
}

a.selected {
    background: beige;
}

.equation {
    padding: .2rem 2.5rem;
    font-family: 'Oxygen Mono', monospace;
    font-size: 90%;
    color: #bd4147;
}