.maze-wrapper {
    padding-top: 20px;
    padding-bottom: 20px
}

.maze {
}

.maze-row {
    float: none;
    display: block;
    clear: both;
}

div.cell {
    float: left;
    width: 1.1em;
    height: 1.1em;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    padding: 1px;
    color: black;
    text-align: center;
    line-height: 0.8em;
    background-color: white;
    overflow: hidden;
}

.cell.up {
    border-top-style: none;
}

.cell.right {
    border-right-style: none;
}

.cell.down {
    border-bottom-style: none;
}

.cell.left {
    border-left-style: none;
}

.cell.wall {
    background-color: #151414;
}

.cell.path {
    background-color: white;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.cell.exploring {
    background-color: red;
}

.cell.backtracked {
    background-color: lightgray;
}

.cell.enclosure-wall-up {
    border-top-width: 2px;
}

.cell.enclosure-wall-right {
    border-right-width: 2px;
}

.cell.enclosure-wall-down {
    border-bottom-width: 2px;
}

.cell.enclosure-wall-left {
    border-left-width: 2px;
}

.cell.entrance {
    border-left: none;
}

.cell.exit {
    border-right: none;
}

#maze .control {
    padding-top: 1em;
}

#maze .control .btn {
    margin-left: 7px;
}

#maze .control .input-number {

}

#maze .monotyped {
    font-family: 'Oxygen Mono', monospace;
    font-size: 12px;
}

#maze .control .input-text {
    text-align: right;
}

#maze .btn-group.states {
    height: 1.3em;
    margin-top: 1em;
}

#maze .t4 {
    width: 4em;
}

#maze .t6 {
    width: 6em;
}

#maze .t7 {
    width: 7em;
}

#maze .t8 {
    width: 8.5em;
}

#maze .t9 {
    width: 9em;
}

#maze .form-control[readonly] {
    background-color: #f9f9f9;
}

#maze .form-control.progress {
    padding: 1px;
}

#maze .progress-bar {
    color: black;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

#maze .progress-bar .progression {
    margin-left: 5px;
    margin-right: 5px;
}