html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 80rem;
}

.card {
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: 0;
    background-color: #f5f5f5;
}

.card-text {
    font-size: 85%;
}

.footer {
    padding-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 82px;
    background-color: #222;
    border-color: #080808;
}

.footer a {
    color: #BBB;
}

.footer a:hover {
    color: #FFF;
}

.footer li {
    display: inline;
    padding-right: 1em;
}

.iconic {
    width: 140px;
    height: 140px;
    background-color: #eceeef;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}