language: node_js

node_js:
  - "node"

os:
  - linux

sudo: false

cache:
  directories:
    - tests/elm-stuff/build-artifacts
    - node_modules
    - $HOME/.cpus

branches:
  except:
    - gh-pages

env:
  matrix:
    - ELM_VERSION=0.18.0 TARGET_NODE_VERSION=node

before_install:
  - | # epic build time improvement - see https://github.com/elm-lang/elm-compiler/issues/1473#issuecomment-245704142
    export PATH=$HOME/.cpus/bin:$PATH;
    if ! hash sysconfcpus 2>/dev/null; then
      git clone --depth=1 https://github.com/obmarg/libsysconfcpus.git "$HOME/libsysconfcpus";
      cd "$HOME/libsysconfcpus";
      ./configure --prefix="$HOME/.cpus";
      make -j2 install;
    fi
  - cd "$TRAVIS_BUILD_DIR"
  - export PATH=./node_modules/.bin:$PATH

install:
  - nvm install $TARGET_NODE_VERSION
  - nvm use $TARGET_NODE_VERSION
  - node --version
  - npm --version
  - npm install -g elm@$ELM_VERSION
  - npm install
  - elm package install --yes

script:
  - sysconfcpus -n 2 npm run build

deploy:
  provider: script
  skip_cleanup: true
  script: ./scripts/deploy-to-gh-pages.sh
  on:
    branch: master