@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src:
    local('Orbitron Medium'),
    local('Orbitron-Medium'),
    /* from https://fonts.gstatic.com/s/orbitron/v8/VK2oK8L4CJesxwY5dF3zxWfQcKutQXcIrRfyR5jdjY8.eot */
      url('Orbitron_500.eot?#iefix') format('embedded-opentype'),
    /* from https://fonts.gstatic.com/s/orbitron/v8/VK2oK8L4CJesxwY5dF3zxYbN6UDyHWBl620a-IRfuBk.woff */
      url('Orbitron_500.woff') format('woff'),
    /* from https://fonts.gstatic.com/s/orbitron/v8/VK2oK8L4CJesxwY5dF3zxY4P5ICox8Kq3LLUNMylGO4.woff2 */
      url('Orbitron_500.woff2') format('woff2'),
    /* from https://fonts.gstatic.com/l/font?kit=VK2oK8L4CJesxwY5dF3zxXNsigHlcrQGNV8nkUSFQfc&skey=d89bb1686e275486&v=v8#Orbitron */
      url('Orbitron_500.svg#Orbitron') format('svg'),
    /* from https://fonts.gstatic.com/s/orbitron/v8/VK2oK8L4CJesxwY5dF3zxZ0EAVxt0G0biEntp43Qt6E.ttf */
      url('Orbitron_500.ttf') format('truetype');
}
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src:
    local('Share Tech Mono'),
    local('ShareTechMono-Regular'),
    /* from https://fonts.gstatic.com/s/sharetechmono/v6/RQxK-3RA0Lnf3gnnnNrAsTwtzT4qNq-faudv5qbO9-U.eot */
      url('Share_Tech_Mono_400.eot?#iefix') format('embedded-opentype'),
    /* from https://fonts.gstatic.com/s/sharetechmono/v6/RQxK-3RA0Lnf3gnnnNrAsUYuTAAIFFn5GTWtryCmBQ4.woff */
      url('Share_Tech_Mono_400.woff') format('woff'),
    /* from https://fonts.gstatic.com/s/sharetechmono/v6/RQxK-3RA0Lnf3gnnnNrAsYdJ2JT0J65PSe7wdxAnx_I.woff2 */
      url('Share_Tech_Mono_400.woff2') format('woff2'),
    /* from https://fonts.gstatic.com/l/font?kit=RQxK-3RA0Lnf3gnnnNrAsaCLXEu0wbeKjKdJPgQe1G4&skey=241741910c57ea83&v=v6#ShareTechMono */
      url('Share_Tech_Mono_400.svg#ShareTechMono') format('svg'),
    /* from https://fonts.gstatic.com/s/sharetechmono/v6/RQxK-3RA0Lnf3gnnnNrAsYW_AySPyikQrZReizgrnuw.ttf */
      url('Share_Tech_Mono_400.ttf') format('truetype');
}
