:root {
  --expo-out: cubic-bezier(.19, 1, .22, 1);
  --circ-out: cubic-bezier(.075, .82, .165, 1)
}

.sound-wave-toggle .sound-wave-toggle-dash {
  opacity: .6;
  transform-origin: center center;
  transform-box: fill-box;
  transition: transform .8s var(--circ-out), stroke-dashoffset .8s var(--circ-out), stroke-dasharray .8s var(--circ-out);
}

.sound-wave-toggle {
  cursor: pointer;
}

.sound-wave-toggle rect {
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 1.2s var(--expo-out);
}

svg:hover .sound-wave-toggle-dash {
  opacity: 1;
  stroke-dashoffset: 50;
  stroke-dasharray: 10 0;
}

svg.sound-wave-toggle {
  color: rgb(188, 188, 188);
  scale: 5;
  border-radius: 50%;
}

.sound-wave-toggle g {
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 1.2s var(--expo-out);
  transform: scaleX(.7);
}

.sound-wave-toggle-rects {
  opacity: .6;
  transform: scaleX(.5);
}
