.calc .display {
  border-radius: 7px;
  background-color: #eee;
}

.calc .input {
  font-family: "Roboto Mono", monospace;
  text-align: right;
  font-size: 21px;
  border: none;
  background-color: transparent;
}

.has-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.fixed-tag {
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.15rem 0;
  font-size: 10px;
  background-color: #eee;
}

.calc .digit .button {
  background-color: #757575;
  color: #fff;
}

.calc .operator .button {
  background-color: #e3f2fd;
  color: #1565c0;
}

.calc .memory .button {
  background-color: #e8f5e9;
  color: #4caf50;
}

.calc .dot .button {
  background-color: #757575;
  color: #fff;
}

.calc .result .button {
  background-color: #e0e0e0;
  color: #000;
}