.calc {
  width: 400px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 10px;
}

.calc .display {
  border-radius: 7px;
  background-color: #eee;
  margin: 0px 15px 15px 0px;
}
.calc .lcd {
  font-family: "Roboto Mono", monospace;
  text-align: right;
  font-size: 21px;
}

input.lcd {
  border: none;
  background-color: transparent;
}

.calc .tag {
  font-size: 10px;
}

.calc .buttons {
  padding-bottom: 0.5em;
}

.calc button {
  width: 60px;
}

.digit button {
  background-color: #757575;
  color: #fff;
}

.operator button {
  background-color: #e3f2fd;
  color: #1565c0;
}

.clear button {
  background-color: #ffebee;
  color: #b71c1c;
}

.memory button {
  background-color: #e8f5e9;
  color: #4caf50;
}

.dot button {
  background-color: #757575;
  color: #fff;
}

.result button {
  background-color: #e0e0e0;
  color: #000;
}
