.wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

#digital-clock-display {
  background: #111;
  border-radius: 15px;
  width: 50%;
}

#digital-clock .input-number {
  width: 4em;
  text-align: right;
}

#digital-clock .description {
  width: 100%;
}

#digital-clock .description input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: #dedddd;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

#digital-clock a.action {
  border-color: transparent;
  border-style: solid;
  background: #f2f2f2;
  border-radius: 6px;
}

a.selected {
  background: beige;
}

#digital-clock .btn {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: #dedddd;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.description div.dropdown-menu {
  top: auto;
  left: auto;
}

.color-tag {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  display: inline-block;
  top: 4px;
  position: relative;
}
