.input-number {
  width: 4em;
  text-align: right;
  height: 1em;
  font-size: 1em;
  margin-top: 4px;
  padding: 0px;
}

.equation .input-number {
}

.description .input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: none;
  background-color: unset;
  box-shadow: none;
}

a.action {
  border-color: transparent;
  border-style: solid;
  background: #f2f2f2;
  border-radius: 6px;
}

a.selected {
  background: beige;
}

.equation {
  padding-top: 0.2rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  font-size: 90%;
  color: #bd4147;
}

.description .btn {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: #dedddd;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
