:root {
  --bg: #071e36;
  --card-bg: #041221;
}

body {
  background: var(--bg);
}

.box {

  background: var(--card-bg);
}


input::placeholder {
  color: antiquewhite;
}

.hero .navbar {
  background-color: var(--card-bg);
}

.navbar-item {
  color: ghostwhite;
}

.elm-pipe {
  color: #60b5cc;
  font-weight: bold;
  font-family: "Share Tech Mono", monospace;
}

.elm-gt {
  color: #f0ad00;
  font-weight: bold;
  font-family: "Share Tech Mono", monospace;
}

.github-fork-ribbon {
  z-index: 40;
}

.card {
  overflow: hidden;
  background: ghostwhite;
  color: var(--bg);
}

.card-content {
  height: 240px;
}

.card.large {
  border-radius: 5px;
}

.cover-image img {
  transition: transform 1s, filter 2s ease-in-out;
  -webkit-transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.card:hover .cover-image img {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.is-overflow-hidden {
  overflow: hidden;
}

.is-cursor-pointer {
  cursor: pointer;
}

.title.no-padding {
  margin-bottom: 0;
}

.footer {
  background: var(--card-bg);
  color: ghostwhite;
}

.footer p,
strong {
  color: ghostwhite
}

.footer a:hover {
  color: crimson;
}

.soc .fa {
  color: ghostwhite;
  margin: 10px
}
