name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_call:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      ELM_HOME: ${{ github.workspace }}/.elm
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup node environment (for building)
        uses: actions/setup-node@v6
        with:
          node-version: "22.20"
          package-manager-cache: false

      - name: Enable Corepack
        run: corepack enable

      - name: Get pnpm store path
        id: pnpm-store
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> "$GITHUB_OUTPUT"

      - name: Cache pnpm store
        uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-store.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Cache ELM_HOME
        uses: actions/cache@v5
        with:
          path: ${{ env.ELM_HOME }}
          key: elm-${{ hashFiles('elm.json', 'review/elm.json') }}
          restore-keys: |
            elm-

      - name: Fetch dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Build project
        run: |
          pnpm build
