name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_call:

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-commits:
    runs-on: ubuntu-22.04
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check commits
        uses: wagoid/commitlint-github-action@v6

  lint-source:
    runs-on: ubuntu-22.04
    env:
      ELM_HOME: ${{ github.workspace }}/.elm
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup node environment (for building)
        uses: actions/setup-node@v6
        with:
          node-version: "22.20"
          package-manager-cache: false

      - name: Enable Corepack
        run: corepack enable

      - name: Get pnpm store path
        id: pnpm-store
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> "$GITHUB_OUTPUT"

      - name: Cache pnpm store
        uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-store.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Cache ELM_HOME
        uses: actions/cache@v5
        with:
          path: ${{ env.ELM_HOME }}
          key: elm-${{ hashFiles('elm.json', 'review/elm.json') }}
          restore-keys: |
            elm-

      - name: Fetch dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Lint project
        run: |
          pnpm lint

  lint-markdown:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Lint markdown files
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          args: "**/*.md"
          ignore: "CHANGELOG.md"

  lint-yaml:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Lint yaml files
        uses: ibiqlik/action-yamllint@v3.1.1

  lint-shell:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Lint shell scripts
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: "./scripts"
          version: "v0.8.0"

  lint-json:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Lint json files
        run: |
          sudo apt install -y jsonlint
          find ./ -type f -name "*.json" -exec sh -c '
            for file do
              if ! jsonlint-php -q "$file"; then
                echo "❌ $file"
                export FAILED=1
              else
                echo "✅ $file"
              fi
            done
            if [ "${FAILED}" = "1" ]; then
              exit 1
            fi
          ' sh {} +
