name: Publish

on:
  push:
    tags: ['*']

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.1.2

      - name: Setup node environment (for building)
        uses: actions/setup-node@v4
        with:
          node-version: 20.18
          cache: "pnpm"

      - name: Fetch dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Build project
        run: |
          pnpm build

      - name: Deploy project to github pages
        run: ./scripts/deploy-to-gh-pages.sh
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_NAME: ${{ secrets.USER_NAME }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
