name: Publish

on:
  push:
    tags: ['*']

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Setup node environment (for building)
        uses: actions/setup-node@v2
        with:
          node-version: 16.14.0

      - id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - id: yarn-cache
        name: Setup cache
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Fetch dependencies
        run: yarn

      - name: Build project
        run: yarn build

      - name: Deploy project to github pages
        run: ./scripts/deploy-to-gh-pages.sh
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_NAME: ${{ secrets.USER_NAME }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
